.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
/coverage/
Gemfile.lock
/*.gem

# RSpec failed examples
spec/examples.txt

# IDE files
.idea/

# RVM files
.ruby-gemset
.ruby-version
